/****** background ******/
body {
	background-image:url(../Images/midnight-rampage.png);
	background-repeat:repeat;
	background-position:center;
	}
/****** p style ******/
#Springs {
    font-family: "Arial", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.00em;
	text-align:center;
    font-weight: normal;
    line-height: 100%;
    text-indent: 20px;
	color:hsla(0,0%,100%,1.00);
	float: left;
	width:30.625em;
	padding: 5px;
	}
#TerrainParks {
    font-family: "Arial", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.00em;
	text-align:center;
    font-weight: normal;
    line-height: 100%;
    text-indent: 20px;
	color:hsla(0,0%,100%,1.00);
	float: right;
	width:30.625em;
	padding: 5px;
		}
.Top {
    font-family: "Arial", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.00em;
	text-align:center;
    font-weight: normal;
    line-height: 100%;
    text-indent: 20px;
	color:hsla(0,0%,100%,1.00);
		}
/****** h1 style *****/
h1 {
	color:#FFFFFF;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size:5.938em;
    font-weight: lighter;
    text-shadow: 2px 2px #000000;
	}
/****** h2 style******/
#Parks {
	background-image:url(../Images/extreme1.png);
	background-repeat:no-repeat;
	background-position: 1%;
	background-size:contain;
	font-family: 'Viga', sans-serif;
    font-size: 2.100em;
    font-weight:bold;
	color:rgba(72,144,255,1.00);
	text-shadow: 2px 2px rgba(0,0,0,.5);
	padding: 10px 0 0 30px;
	float:right;
	}
#SevenSprings {
	background-image:url(../Images/mountain33.png);
	background-repeat:no-repeat;
	background-position: 25%;
	font-family: 'Viga', sans-serif;
    font-size: 2.100em;
    font-weight:bold;
	color:rgba(72,144,255,1.00);
	text-shadow: 2px 2px rgba(0,0,0,.5);
	padding: 8px 0 0 30px;
	}
/****** h3,h4 style ******/
h3, h4 {
	font-family:'Viga';
	font-size:1.250em;
	color:rgba(255,255,255,1.00);
	text-shadow: 1px 2px rgba(0,0,0,.5);
	text-align:center;
	}
/****** box ******/
#page {
    width: 1100px;
    padding: 20px;
    border: 5px  solid rgba(255,255,255,.52);
    margin-left: auto;
	margin-right:auto;
	box-shadow:0px 0px 10px rgba(0,0,0,.7);
    border-radius: 10px;
	background: rgba(2,33,112,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(2,33,112,1) 0%, rgba(95,112,217,1) 49%, rgba(4,0,112,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,33,112,1)), color-stop(49%, rgba(95,112,217,1)), color-stop(100%, rgba(4,0,112,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(2,33,112,1) 0%, rgba(95,112,217,1) 49%, rgba(4,0,112,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(2,33,112,1) 0%, rgba(95,112,217,1) 49%, rgba(4,0,112,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(2,33,112,1) 0%, rgba(95,112,217,1) 49%, rgba(4,0,112,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(2,33,112,1) 0%, rgba(95,112,217,1) 49%, rgba(4,0,112,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022170', endColorstr='#040070', GradientType=0 );
/* IE6-9 */
	}
/****** nav *****/
#nav ul li {
	display:inline;
	margin-right: -320px;
    margin-left: 356px;
    text-shadow: -1px -1px #000000;
	font-family:'viga';
	font-size:1.175em;
		}
/****** ol style *****/
.list { 
	clear: left;
 	list-style-type:upper-roman; 
	font-size:.900em;
	color: rgba(72,144,255,1.00);
	font-family:'viga';
	width:50%;
	margin: 105px;
	border:2px solid rgba(0,0,0,.32);
	box-shadow: 0 2px 2px rgba(0,0,0,1.00);
	background: rgba(255,255,255,1);
    background: -moz-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), color-stop(0.47, rgba(246,246,246,1)),    	to(rgba(237,237,237,1)));
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

	}
/****** image gallery styling *****/
.gallery_img {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
	}
.gallery_img img {
	border: solid 4px rgba(72,144,255,1.00);
	box-shadow: 0px 0px 9px #000000;
	width:140%;
 	max-width: 32%;
	}
#main_img {
  width: 79%;
  margin-right:auto;
  margin-left:auto;
	}
#main_img img {
	border: solid 4px rgba(72,144,255,1.00);
	box-shadow: 0px 0px 9px #000000;
 	max-width: 800px;
	}
/****** figcaption style *****/
figcaption {
	text-decoration:underline;
	text-align:center;
	color:#FFFFFF;
	}
/****** link styles *****/
.links { 
	width: 93%;
	list-style:none;
	text-align:center;
	font-size:1.125em;
	color: rgba(72,144,255,1.00);
	font-family:'viga';
	
	}
/****** footer styling *****/
footer {
	text-align:center;
	color:#FFFFFF;
	}
/****** unvisited link *****/
a:link {
    color: #FFFFFF;
	}
/****** visited link ******/
a:visited {
    color:rgba(72,144,255,1.00);
	}
/****** mouse over link ******/
a:hover {
    color: #8A8A8A;
	}
/****** selected link *****/
a:active {
    color: #000000;
	}
/****** Table Style ******/
.Stats {
	margin:0px;padding:0px;
	width:100%;
	border:2px solid #FFFFFF;
	}
.Stats table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	}
.Stats tr:hover td {
	color:rgba(86,86,86,1.00);
	}
.Stats tr:nth-child(odd) { 
	background-color:#aad4ff; 
	}
.Stats tr:nth-child(even) { 
	background-color:#ffffff; 
	}
.Stats td {
	vertical-align:middle;
	border:2px solid #FFFFFF;
	text-align:center;
	letter-spacing: 3px;
	padding:7px;
	font-size:.900em;
	font-family:'viga';
	font-weight:bold;
	color: rgba(0,69,130,1.00);
	}
.Stats tr:first-child th {	
	background-color:#005fbf;
	border:1px solid #ffffff;
	text-align:center;
	border-width:1px 1px 1px 1px;
	font-size:1.2em;
	font-family:'viga';
	font-weight:bold;
	color:#ffffff;
	text-shadow: 1px 2px 0 #000000; 
	}
.Stats tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background-color:#005fbf;
	}
.Stats tr:first-child td:first-child{
	border-width:1px 1px 1px 1px;
	}
.Stats tr:first-child td:last-child{
	border-width:1px 1px 1px 1px;
	}
/****** form styling ******/
.form {
	text-align:center;
	background-color:rgba(42,106,242,1.00);
	font-size:.9em;
	padding:0px;
	margin:0px;
	font-family:'viga';
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000000;
	border: 3px solid #FFFFFF;
	width:30%;
	float: none;
	margin-left:auto;
	margin-right:auto;
	}

	